<h1>Stupid Coaching</h1>

<blockquote class="box">
  <h2><%= @question %></h2>
  <cite>-- You</cite>
</blockquote>

<blockquote class="box">
  <h2><%= @answer %></h2>
  <cite>--Your coach</cite>
</blockquote>

<p><%= link_to "Ask a new question", ask_path %></p>
